<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인</title>
</head>
<body>
  <h1>myinfo</h1>
  <table border="1">
      <tr>
          <td>이름</td>
          <td th:text="${name}"></td>
      </tr>
      <tr>
          <td>나이</td>
          <td th:text="${age}">28</td>
      </tr>
      <tr>
          <td>번호</td>
          <td th:text="${phone}"></td>
      </tr>
      <tr>
          <td>주소</td>
          <td th:text="${address}"></td>
      </tr>
  </table>
</body>
</html>